<div class="row justify-content-center align-items-center my-5">
    <div class="col-3">
        <select class="form-select" aria-label="Default select example" #categoryName (change)="fileterCategory(categoryName)">
            <option selected disabled>Open this select menu</option>
            <option *ngFor="let category of categoryData" [value]="category.categoryName">{{category.categoryName}}</option>
        </select>
    </div>
    <div class="col-3">
        <input class="form-control " type="text" placeholder="search" aria-label=".form-control example" #search (change)="filterSearch(search)">
    </div>
</div>

<div class="row">
    <div class="container">
        <app-card [contentData]="contentData" (deleteFn)="deleteContent($event)"></app-card>
    </div>
</div>


