/* You can add global styles to this file, and also import other style files */
@import 'ag-grid-community/styles/ag-grid.css';
/* Quartz Theme Specific CSS */
@import 'ag-grid-community/styles/ag-theme-quartz.css';
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');
@import "~@fortawesome/fontawesome-free/css/all.css";
@import 'ngx-toastr/toastr';
*{
    overflow-x: hidden;
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
}
body{
    background-color: rgb(255 242 224);
}