<nav class="navbar navbar-expand-lg navbar-light container-fluid">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand d-flex align-items-center fw-bold" routerLink="/product" style="color: rgb(143, 86, 0);"><i
          class="fa-brands fa-product-hunt  mx-1" style="color:rgb(143, 86, 0) ;"></i>Product Catalog</a>
    </div>
    <div class="ms-auto order-lg-last">
      <!-- <i class="fa-solid fa-user mx-2" style="color:rgb(143, 86, 0) ;"></i><span class="me-3"
        style="color:rgb(143, 86, 0) ;">{{name}}</span> -->
      <img src="http://localhost:3000/public/{{userData?.profileImage}}" class="rounded-circle" width="50px"
        height="45px" data-bs-toggle="modal" data-bs-target="#modalId"><span class="me-3"
        style="color:rgb(143, 86, 0) ;">{{name}}</span>
      <!-- Modal Body -->
      <div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
        role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalTitleId">
                Update Profile
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetPreviewImage()"></button>
            </div>
            <div class="modal-body">
              <div class="row justify-content-center">
                <label for="imageUpload">
                  <img src="{{temporaryURL}}" class="rounded-circle"
                    height="120px" style="width: 150px; cursor: pointer;" #previewImage>
                </label>
                <!-- <input type="file" id="imageUpload" style="display: none;" #profile (change)="loadFile(profile)" /> -->
                <input type="file" id="imageUpload" style="display: none;" (change)="loadFile($event, previewImage)" />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetPreviewImage()">
                Close
              </button>
              <button type="button" class="btn btn-primary" (click)="UpdateProfile()">Save</button>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row mx-auto"> -->
      <!-- <div class="form-group d-flex justify-content-center mt-3"> -->
      <!-- Hidden File Input -->
      <!-- <input type="file" class="custom-file-input" id="imageUpload" hidden="true" (change)="onSelectedFile($event)" >  -->
      <!-- <label class="btn btn-primary btn-sm" for="imageUpload">Change Image</label> -->
      <!-- </div> -->
      <!-- </div> -->
      <!-- Optional: Place to the bottom of scripts -->
      <script>
        const myModal = new bootstrap.Modal(
          document.getElementById("modalId"),
          options,
        );
      </script>



      <i class="fa-solid fa-right-from-bracket  mx-1" type="button" (click)="logOut()"
        style="font-size: 18px;color:rgb(143, 86, 0) ;"></i><span class="me-3"
        style="color:rgb(143, 86, 0) ;">Logout</span>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/product" routerLinkActive="active" aria-current="page">Home</a>
        </li>
        <li class="nav-item" *ngIf="role==='Admin'">
          <a class="nav-link" routerLink="/addproduct" routerLinkActive="active">Add Product</a>
        </li>
        <li class="nav-item" *ngIf="role==='Admin'">
          <a class="nav-link" routerLink="/addcategory" routerLinkActive="active">Add Category</a>
        </li>
      </ul>
      <!-- <div> -->

      <!-- <button class="btn btn-outline-success" type="button" (click)="logOut()">Logout</button> -->
      <!-- </div> -->
    </div>
  </div>
</nav>